* {
	box-sizing: border-box;
}

:root {
	--background: #0a0a0a;
	--surface: #222;
	--foreground: #ccc;
	--link: #999;
	--accent: #3a625b;
	--heading: hsl(170, 26%, 43%);

	--scale-ratio: 1.5;
	--s0: 1.15rem;
	--s1: calc(var(--s0) * var(--scale-ratio));
	--s2: calc(var(--s1) * var(--scale-ratio));
	--s3: calc(var(--s2) * var(--scale-ratio));

	--font: 'Atkinson Next', sans-serif;
	--font-mono: 'Atkinson Mono', monospace;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--font);
	font-size: var(--s0);
	line-height: var(--scale-ratio);
	margin: 0 auto;
}

::selection {
	background-color: var(--surface);
}

.content-box {
	margin-inline: auto;
	max-inline-size: 52rem;
	padding-block: var(--s1);
	padding-inline: clamp(var(--s0), 5vw, var(--s3));
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading);
	hyphens: auto;
	margin-block-start: 0;
	margin-block-end: 0.5rem;

	&::selection {
		background-color: var(--heading);
		color: var(--background);
	}
}

h1 {
	font-size: 2.25rem;
	margin-block-end: 0;
}

nav {
	border-bottom: 2px solid var(--accent);
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-block-end: 0.5rem;

	a {
		line-height: 1.2;
		font-weight: 450;
		padding: 0.2rem;
		text-decoration: none;
	}
}

a {
	color: var(--link);
	outline: none;
	padding: 0.1rem;
	text-decoration: underline 2px var(--accent);
	transition: text-decoration-thickness 0.3s;

	&:hover {
		background-color: var(--surface);
		text-decoration-thickness: 3px;
	}

	&:focus-visible {
		background-color: var(--accent);
		color: var(--background);
		text-decoration-color: var(--background);
	}
}

strong {
	font-weight: 550;
}

kbd {
	font-size: 1rem;
	background-color: var(--link);
	padding: 0.2rem;
	margin: 0 0.125rem;
	border-radius: 0.2rem;
	color: var(--background);
	box-shadow: 0.125rem 0.125rem var(--accent);
	font-family: var(--font-mono);

	&::selection {
		color: var(--foreground);
	}
}

code {
	background-color: var(--surface);
	border-radius: 0.25rem;
	padding: 0.15rem;
	font-family: var(--font-mono);
	font-size: 0.9rem;

	&::selection {
		background-color: var(--accent);
		color: var(--background);
	}
}

.text-container :nth-child(1) {
	margin-block-start: 0;
}
