@font-face {
    font-family: "Outfit";
    src: local(""), url("/fonts/Outfit-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header nav {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 8px;
        &:has(> :nth-child(2)) {
            justify-content: space-between;
        }
        li {
            flex: 3;
            display: block;
            list-style: none;
            text-align: center;
            &:first-child {
                flex: 1;
                text-align: left;
            }
            &:last-child {
                flex: 1;
                text-align: right;
            }
        }
    }
}
