@font-face {
    font-family: "Outfit";
    src: local(""), url("/fonts/Outfit-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header nav {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        gap: 8px;
        &:has(> :nth-child(2)) {
            justify-content: space-between;
        }
        li {
            display: block;
            list-style: none;
        }
    }
}
