<table>
    <tr>
        <th>I am...</th>
    </tr>
    {% for item in iam %}
        <tr>
            <td>{{ item.gerund }}</td>
            <td>{{ item.subject }}</td>
        </tr>
    {% endfor %}
</table> 